<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
	<h1>Welcome!!</h1>
	<h3>Base on the payload you gave me</h3>
	<p>We have</p>
	<form action="/sendEmail">
    	<input type="submit" value="send Email" />
	</form>
</body>
</html>